 <footer>
    <br><hr>
    <section class="footer">
        <h2>Información de Contacto</h2>
        <div class="contact-info">
            <div>
                <img
                    src="https://cdn-icons-png.flaticon.com/512/5968/5968764.png"
                    alt="Facebook icon">
                <span>/wrener.robles</span>
            </div>
            <div>
                <img
                    src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png"
                    alt="Instagram icon">
                <span>@bigroble</span>
            </div>
            <div>
                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
                    alt="LinkedIn icon">
                <span>@wrener-robles</span>
            </div>
            <div>
                <img
                    src="https://cdn-icons-png.flaticon.com/512/3670/3670147.png"
                    alt="YouTube icon">
                <span>wrener-samayoa</span>
            </div>
        </div>
    </section>
    <p>&copy; 2024. Todos los derechos reservados.</p>
</footer>

<script src="../assets/js/main.js"></script>
<script src="../assets/js/skills.js"></script>