        <!--NAV-->
        <nav id="menu" class="">
          <a class="close">Cerrar Menu ▶</a>
          <ul class="links">
            <li><a href="/">Inicio</a></li>
            <li><a href="/sobremi">Sobre mí</a></li>
            <li><a href="/habilidades">Skills</a></li>
            <li><a href="/cursos">Cursos</a></li>
            <li><a href="/portafolio">Portafolio</a></li>
            <li><a href="/curriculum">Curriculum</a></li>
          </ul>
        </nav>