<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portafolio</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <link rel="stylesheet" href="../assets/css/normalize.css">
</head>
<body>

    {{> header}}
    
    {{> navbar}}

    <section>
        <h2>MI CURRICULUM</h2>
    </section>
    <div class="pdf-container">
        <iframe class="pdf-viewer" title="curriculum" src="../portafolio/CURRICULUM TERMINADO.pdf" frameborder="0"></iframe>
    </div>

    {{> footer}}

</body>
</html>