<!-- habilidades.hbs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades - Portafolio Digital</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <link rel="stylesheet" href="../assets/css/normalize.css">
</head>
<body>

    {{> header}}
    
    {{> navbar}}

    <main>
        <h2>Habilidades Técnicas</h2>
        <section class="skills">
            
            <div class="skill">
                <span>C++</span>
                <div class="progress">
                    <div class="progress-bar" data-skill="80%"></div>
                </div>
            </div>
            <div class="skill">
                <span>Java</span>
                <div class="progress">
                    <div class="progress-bar" data-skill="70%"></div>
                </div>
            </div>
            <div class="skill">
                <span>Microsoft Office</span>
                <div class="progress">
                    <div class="progress-bar" data-skill="90%"></div>
                </div>
            </div>
            <div class="skill">
                <span>Adobe Illustrator</span>
                <div class="progress">
                    <div class="progress-bar" data-skill="75%"></div>
                </div>
            </div>
            <div class="skill">
                <span>HTML y CSS</span>
                <div class="progress">
                    <div class="progress-bar" data-skill="85%"></div>
                </div>
            <div class="skill">
                <span>HandleBars y Partials</span>
                <div class="progress">
                    <div class="progress-bar" data-skill="90%"></div>
                </div>
            </div>
        </section>

        <h2>Metodologías Ágiles</h2>
        <section class="skills">
            
            <div class="skill">
                <span>AGIL</span>
                <div class="progress">
                    <div class="progress-bar" data-skill="70%"></div>
                </div>
            </div>
            <div class="skill">
                <span>SCRUM</span>
                <div class="progress">
                    <div class="progress-bar" data-skill="65%"></div>
                </div>
            </div>
        </section>
    </main>

    {{> footer}}

</body>
</html>