<!-- index.hbs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Mi Portafolio</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <link rel="stylesheet" href="../assets/css/normalize.css">
</head>
<body>

    {{> header}}

    {{> navbar}}

    <section>
        <h2>Bienvenido a Mi Portafolio</h2>
        <div class="bienvenida">
            <p>Hola, soy Wrener Estuardo Robles Samayoa, un apasionado estudiante de Ingeniería en Sistemas. Este portafolio es una muestra de mis habilidades, proyectos y mi trayectoria académica.</p>
            <p>Estoy comprometido con el aprendizaje continuo y el desarrollo profesional, siempre buscando nuevas oportunidades para crecer en el campo de la tecnología y el diseño.</p>
            <p>A continuación, encontrarás enlaces a mis habilidades, proyectos y más información sobre mí.</p>
        </div>
    </section>

    <section class="inicio">
        <h2>Explora Mis Secciones</h2>
        <div class="botom">
            <ul>
                <li><a href="/habilidades">Habilidades</a></li>
                <li><a href="/cursos">Cursos</a></li>
                <li><a href="/portafolio">Proyectos</a></li>
                <li><a href="/curriculum">Currículum</a></li>
            </ul>
        </div>
    </section>

    {{> footer}}

</body>
</html>