<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi Portafolio</title>
        <link rel="stylesheet" href="../assets/css/estilos.css">
        <link rel="stylesheet" href="../assets/css/normalize.css">
    </head>
    <body>

        {{> header}}

        {{> navbar}}

        <section>
            <h2>PORTAFOLIO DE MIS PROYECTOS</h2>
        </section>
        <main>
            <p class="introduccion">En esta sección de mi portafolio, presento una selección de
                proyectos en los que he trabajado, cada uno de ellos reflejando
                mis habilidades y conocimientos adquiridos a lo largo de mi
                formación. Cada proyecto representa una oportunidad para aplicar
                conceptos teóricos a situaciones prácticas, abordando desafíos
                específicos y desarrollando soluciones efectivas. Desde
                aplicaciones web hasta sistemas de gestión, cada uno de estos
                trabajos muestra mi capacidad para innovar, resolver problemas y
                colaborar en equipo. Te invito a explorar cada uno de ellos y
                descubrir cómo he contribuido a su desarrollo.
            </p>
            <div class="project">
                <h2>Proyecto 1 (Sistema de Gestión para Ferreterías)</h2>
                <p>
                    El proyecto "Ferretería El Cóndor" consiste en el desarrollo
                    de un sistema de gestión para ferreterías, implementado en
                    Angular. Este sistema facilita la administración de
                    productos, inventarios y ventas, permitiendo a los usuarios
                    acceder rápidamente a información detallada sobre el
                    inventario y gestionar precios y proveedores de manera
                    centralizada. A través de una interfaz intuitiva, los
                    estudiantes integran conceptos de programación y diseño,
                    desarrollando habilidades técnicas y de resolución de
                    problemas. El proyecto también promueve la mejora en la
                    atención al cliente y la toma de decisiones informadas,
                    proporcionando una experiencia fluida y eficiente en la
                    operación diaria de una ferretería.
                </p>
                <div class="project-images">
                    <img src="../images/p6-1.png" alt="Imagen 9">
                    <img src="../images/p6-2.png" alt="Imagen 10">
                </div>
                <section class="botom">
                    <ul>
                        <li>
                            <a
                                href="../portafolio/Presentación para el cliente.pdf"
                                target="_blank">Ver
                                presentación</a>
                        </li>
                        <li>
                            <a
                                href="../portafolio/DOCUMENTO CONSOLIDADO (1).pdf"
                                target="_blank">Ver
                                documentación</a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="project">
                <h2>Proyecto 2 (Bancopoly)</h2>
                <p>
                    El proyecto Bancopoly consiste en el desarrollo de un
                    programa en Java que simula el funcionamiento del juego de
                    mesa
                    Monopoly, donde el objetivo es poner en práctica los
                    conceptos de programación aprendidos en el curso, mediante
                    la
                    creación de un juego que permite a los jugadores obtener
                    ganancias en dinero y propiedades a través de la compra y
                    gestión de departamentos, compañías de transporte y
                    servicios, según las reglas definidas, lo cual permitió a
                    los
                    estudiantes integrar sus conocimientos de programación y
                    matemáticas, desarrollar habilidades técnicas y de
                    resolución
                    de problemas, y entender de manera más práctica la mecánica
                    del juego.
                </p>
                <div class="project-images">
                    <img src="../images/p5-1.png" alt="Imagen 9">
                    <img src="../images/p5-2.png" alt="Imagen 10">
                </div>
                <section class="botom">
                    <ul>
                        <li>
                            <a href="../portafolio/bancopoly.pdf"
                                target="_blank">Ver
                                documentación</a>
                        </li>
                        <li>
                            <a
                                href="https://drive.google.com/file/d/1hGX6auiM1VsNDIQhdsRR4Uk1ZVN-Du2F/view?usp=sharing"
                                target="_blank">Ver
                                video</a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="project">
                <h2>Proyecto 3 (Calc. Derivadas e Integrales)</h2>
                <p>
                    Este proyecto de Cálculo II consiste en el desarrollo de una
                    aplicación Java que permite calcular derivadas e
                    integrales de funciones, con 6 paneles que realizan los
                    cálculos de diferentes teoremas vistos en clase, con el
                    objetivo de que los estudiantes pongan en práctica los
                    conceptos de cálculo aprendidos y amplíen sus habilidades
                    de programación, permitiéndoles integrar los campos de
                    matemáticas y computación, al tiempo que logran ideas más
                    claras sobre los teoremas y adquieren mayores conocimientos
                    informáticos.
                </p>
                <div class="project-images">
                    <img src="../images/p4-1.png" alt="Imagen 7">
                    <img src="../images/p4-2.png" alt="Imagen 8">
                </div>
                <section class="botom">
                    <ul>
                        <li>
                            <a href="../portafolio/proyecto calculo ii.pdf"
                                target="_blank">Ver
                                documentación</a>
                        </li>
                        <li>
                            <a
                                href="https://drive.google.com/file/d/1X2PpcbwKEraX0reV1yRmCf5XqyfODL57/view?usp=sharing"
                                target="_blank">Ver
                                video</a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="project">
                <h2>Proyecto 4 (Windows Inspector)</h2>
                <p>
                    "Windows Inspector" es una aplicación de escritorio que
                    brinda una interfaz centralizada y sencilla de usar para
                    acceder a diversas herramientas de monitoreo, análisis y
                    gestión del sistema operativo Windows. Desarrollada en
                    C# utilizando Windows Forms, la aplicación ofrece
                    funcionalidades clave como la verificación de la versión de
                    Windows,
                    la identificación del hardware y software instalado, el
                    listado y finalización de procesos, el monitoreo de recursos
                    del sistema en tiempo real, y la visualización de las
                    conexiones de red activas. "Windows Inspector" se enfoca en
                    proporcionar a los usuarios y administradores de sistemas
                    una herramienta integral para obtener un mejor control y
                    visibilidad sobre el estado y funcionamiento de su entorno
                    operativo Windows, facilitando la identificación y
                    resolución
                    de problemas.
                </p>
                <div class="project-images">
                    <img src="../images/p1-1.png" alt="Imagen 1">
                    <img src="../images/p1-2.png" alt="Imagen 2">
                </div>
                <section class="botom">
                    <ul>
                        <li>
                            <a href="../portafolio/pro_os.pdf"
                                target="_blank">Ver documentación</a>
                        </li>
                    </ul>
                </section>

            </div>
            <div class="project">
                <h2>Proyecto 5 (Calculadora)</h2>
                <p>
                    Este es un mini proyecto que consiste en el desarrollo de
                    una calculadora básica en Java. La calculadora tiene una
                    interfaz de usuario sencilla y permite realizar las
                    operaciones matemáticas fundamentales como suma, resta,
                    multiplicación y división. El objetivo del proyecto es que
                    los estudiantes pongan en práctica los conceptos aprendidos
                    en Programación II, como la creación de interfaces gráficas
                    de usuario, el manejo de eventos y la lógica de
                    programación.
                    A través de este proyecto, se busca que los estudiantes
                    adquieran habilidades en el diseño, codificación, pruebas y
                    documentación de aplicaciones Java orientadas a escritorio,
                    fomentando el desarrollo de competencias como la resolución
                    de
                    problemas, el pensamiento lógico y el trabajo en equipo.
                </p>
                <div class="project-images">
                    <img src="../images/p2.png" alt="Imagen 3">
                </div>
                <section class="botom">
                    <ul>
                        <li>
                            <a
                                href="../portafolio/Manual de usuario Mini Proyecto calculadora.pdf"
                                target="_blank">Ver
                                documentación</a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="project">
                <h2>Proyecto 6 (Totito)</h2>
                <p>
                    Este proyecto consiste en el desarrollo de un juego de
                    Totito (Tres en Raya) utilizando Java, con el objetivo de
                    que
                    los estudiantes pongan en práctica los conceptos de
                    Programación II, como la creación de interfaces gráficas, el
                    manejo de eventos y la lógica de programación. A través de
                    este mini proyecto, se busca que los estudiantes desarrollen
                    habilidades en el diseño, codificación, pruebas y
                    documentación de aplicaciones Java orientadas a escritorio,
                    fomentando
                    el desarrollo de competencias como la resolución de
                    problemas, el pensamiento lógico, la toma de decisiones
                    estratégicas
                    y el trabajo en equipo.
                </p>
                <div class="project-images">
                    <img src="../images/p3.png" alt="Imagen 5">
                    <img src="../images/p3-2.png" alt="Imagen 6">
                </div>
                <section class="botom">
                    <ul>
                        <li>
                            <a href="../portafolio/Juego de Totito en Java.pdf"
                                target="_blank">Ver
                                documentación</a>
                        </li>
                    </ul>
                </section>
            </div>
        </main>

        {{> footer}}

    </body>
</html>