<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portafolio</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <link rel="stylesheet" href="../assets/css/normalize.css">
</head>
<body>

    {{> header}}
    
    {{> navbar}}

    <section>
      <h2>SOBRE MI</h2>
        <div class="sobremi">
          <img src="../images/foto.png" alt="Mi foto de perfil">
            <div class="parrafo1">
              <p>Mi nombre es Wrener Estuardo Robles Samayoa, estudiante universitario de ingenieria en sistemas. 
                Me considero una persona organizada y creativa, con una gran capacidad de adaptación y un apetito constante por el aprendizaje. 
                Cuento con habilidades sobresalientes para trabajar en equipo, incluso bajo presión, demostrando iniciativa y proactividad para 
                resolver problemas de manera efectiva y alcanzar los objetivos trazados por la empresa u organización.
              </p>
              <p>Soy una persona de gran valor, que aporta soluciones creativas, trabaja en equipo de manera efectiva y demuestra un compromiso 
                constante con el aprendizaje y el crecimiento profesional. Mis cualidades me convierten en un excelente candidato para cualquier 
                organización que busque perfiles dinámicos, proactivos y orientados al logro de resultados.
              </p>
              <p>Tengo disponibilidad de horario, exceptuando los sábados, debido a mis estudios universitarios. Poseo un fuerte interés en 
                seguir aprendiendo y creciendo profesionalmente.
              </p>
            </div>
        </div>
    </section>
    <br>
    <section class="inicio">
        <h2>Explora Mis Secciones</h2>
        <div class="botom">
            <ul>
                <li><a href="/habilidades">Habilidades</a></li>
                <li><a href="/cursos">Cursos</a></li>
                <li><a href="/portafolio">Proyectos</a></li>
                <li><a href="/curriculum">Currículum</a></li>
            </ul>
        </div>
    </section>


    {{> footer}}

</body>
</html>