<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portafolio</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <link rel="stylesheet" href="../assets/css/normalize.css">
  </head>
  <body>

    <!--HEADER-->
    <header id="header">
      <div class="logo">
        <a href="./index.html">Mi Portafolio <span>by Wrener Robles</span></a>
      </div>
      <a id="toggleMenu"><strong>☰</strong></a>
    </header>

    <!--NAV-->
    <nav id="menu" class>
      <a class="close">Cerrar Menu ▶</a>
      <ul class="links">
        <li><a href="./index.html">Sobre mí</a></li>
        <li><a href="./habilidades.html">Skills</a></li>
        <li><a href="./portafolio.html">Portafolio</a></li>
        <li><a href="./curriculum.html">Curriculum</a></li>
      </ul>
    </nav>

    <section>
      <h2>MI CURRICULUM</h2>
    </section>
    <div class="pdf-container">
      <iframe class="pdf-viewer" title="curriculum"
        src="../portafolio/CURRICULUM TERMINADO.pdf" frameborder="0"></iframe>
    </div>

    <footer>
      <hr>
      <section class="footer">
        <h2>Informacion de Contacto</h2>
        <div class="contact-info">
          <div>
            <img src="https://cdn-icons-png.flaticon.com/512/1383/1383269.png"
              alt="Phone icon">
            <span>5464 3871</span>
          </div>
          <div>
            <img src="https://cdn-icons-png.flaticon.com/512/25/25377.png"
              alt="Phone icon">
            <span>4424 5078</span>
          </div>
          <div>
            <img src="https://cdn-icons-png.flaticon.com/512/5968/5968764.png"
              alt="Facebook icon">
            <span>/wrener.robles</span>
          </div>
          <div>
            <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png"
              alt="Instagram icon">
            <span>@bigroble</span>
          </div>
          <div>
            <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
              alt="LinkedIn icon">
            <span>@wrener-robles</span>
          </div>
          <div>
            <img src="https://cdn-icons-png.flaticon.com/512/3670/3670147.png"
              alt="YouTube icon">
            <span>wrener-samayoa</span>
          </div>
        </div>
      </section>
      <p>&copy; 2024. Todos los derechos reservados.</p>
    </footer>
    <script src="../assets/js/main.js"></script>
  </body>
</html>