html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(../../images/ondas-background.jpg);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.bienvenida {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 50px;
    text-align: center;
}

.inicio .botom {
    text-align: center;
}

.inicio .botom ul {
    list-style-type: none; /* Eliminar viñetas */
    padding: 0;
}

.inicio .botom li {
    display: inline;
    margin: .5em;
}

.inicio .botom a {
    text-decoration: none;
    color: snow;
    font-weight: bold;
}

h1 {
    color: white;
    font-size: 65px;
    margin: 0;
}

h2 {
    text-align: center;
    color: snow;
    font-size: 40px;
}

h3 {
    padding-left: 40px;
    text-align: left;
    color: snow;
    font-size: 30px;
}

p {
    color: snow;
    font-size: 30px;
    text-align: justify;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: #0077b6;
    cursor: default;
    height: 5em;
    line-height: 3.25em;
    text-align: right;
    align-content: center;
    width: 100%;
    padding: 0 1.5em;
}

#header .logo {
    font-size: 1.5em;
    display: inline-block;
    left: 1.5em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
}

#header .logo a {
    font-size: 1.25em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

#header .logo a:hover {
    color: #fff;
}

#header .logo span {
    font-weight: 300;
    font-size: .5em;
    color: #FFF;
}

#header>a {
    -webkit-tap-highlight-color: transparent;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 100%;
    height: 2.5em;
    width: 2.5em;
    font-size: 1.5em;
    line-height: 2.5em;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

#header>a[id="toggleMenu"]:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#header>a[id="toggleMenu"]:hover {
    color: skyblue;
    background: none;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
}

#header>a[id="toggleMenu"]:before {
    margin: 0;
}

#menu {
    transform: translateX(100%);
    transition: transform 0.5s ease, visibility 0.5s ease;
    background: #0077b6;
    height: 100%;
    width: 16em;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
    visibility: hidden;
}

#menu.visible {
    transform: translateX(0);
    visibility: visible;
}

.hidden {
    display: none;
}

ul.links {
    list-style: none;
    font-size: 1.7em;
    padding: 0;
    margin: .3em;
    cursor: pointer;
}

ul.links li {
    padding: 0;
    text-align: center;
    border-radius: 50px;
}

ul.links li:hover {
    background-color: skyblue;

    a {
        color: #0077b6;
    }
}

ul.links li a {
    display: flex;
    justify-content: center;
    padding: .6em .5em;
    margin-block: .3em;
    text-decoration: none;
    color: #fff;
}

.close {
    display: block;
    font-size: 1.3em;
    text-align: left;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.close:hover {
    color: rgba(255, 0, 0, 75%);
}

section.footer h2 {
    text-align: center;
    font-size: 20px;
}

.sobremi {
    display: flex;
    align-items: flex-start;
}

.sobremi img {
    height: 250px;
    margin-left: 150px;
}

.parrafo1 {
    margin-left: 35px;
    margin-right: 150px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.8);
}

.parrafo1 p {
    margin-left: 15px;
    margin-right: 15px;
}

.botom {
    display: flex;
    justify-content: center;
    width: 100%;
}

.botom ul {
    list-style-type: none;
    padding:1.1em;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

.botom ul li{
    margin: .5em;
    border-radius: 5px;
    background-color: darkred;
    padding: 1em;
}

.botom ul li:hover {
    background-color: skyblue;
    cursor: pointer;

    a{
        color: #333;
    }
}

.botom ul li a {
    font-size: 2em;
    color: snow;
    text-decoration: none;
    font-style: italic;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact-info>div {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 20%);
}

.contact-info img {
    height: 24px;
    margin-right: 8px;
}

.contact-info span {
    color: snow;
}

main {
    padding-inline: 11em;
    padding-block-end: 2em;
}

.project {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 65%);
}

.project h2 {
    margin-top: 0;
}

.project p {
    margin-bottom: 20px;
}

.project-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.project-images img {
    width: 25em;
    height: auto;
    max-width: 100%;
    margin: .5em .5em;
}

section.skills {
    padding: 15px;
    background-color: rgba(0, 0, 0, 20%);
    border-radius: 20px;
}

.skill {
    margin: 20px 0;
}

.skill span{
    font-size: 2em;
    color: snow;
}

.progress {
    background: snow;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(to right, darkslateblue, tomato);
    width: 0;
    transition: width 1s ease;
}

#progress-bar2 {
    background: linear-gradient(to right, tomato, darkslateblue) !important;
}

.curriculum {
    display: grid; /* Usar grid para la disposición */
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre las columnas */
    background: rgba(0, 0, 0, 20%);
    border-radius: 10px; 
    margin: 40px; 
    padding: 40px;
}

.curriculum ul {
    list-style-type: none;
    padding: 0;
}

.curriculum li {
    color: snow;
    font-size: 1.3em;
    margin-bottom: 10px;
}

footer {
    background-color: #018cd7b7;
    padding: 2px 10px 20px;
    text-align: center;
    margin-top: 20px;
    box-shadow:0px -1px 5px 0px gray;
}

footer p {
    font-size: 10px;
}

.error{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2em;
    margin: 3em;
    
    img{
        width: 28em;
        height: auto;
        max-width: 100%;
    }

    h2{
        font-size: 2.5em;
        color: darkred;
        margin-top: .3em;
        margin-bottom: 1em;
    }
}

.introduccion{
    display: flex;
    margin-inline: 5em;
    color: snow;
    font-size: 2em;
    text-align: justify;
}